
<h2>Srivani Anandarajah</h2>
<h3>Développeuse Fullstack</h3>
<h4>Après 3 ans d’expérience en tant que commerciale dans
la tech, ma passion pour la technologie et son impact
évolutif sur notre quotidien m’a poussée à explorer de
nouveaux horizons. J’ai rejoins le bootcamp Le Wagon
avec l’objectif précis de devenir développeur full-stack.
Je suis motivée à contribuer activement à des projets
ambitieux et complexes.
</h4>
<h5>Mes liens sociaux</h5>
