/* General styling */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4eeff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left) of the container */
  justify-content: space-between;
  min-height: 110vh;
  padding: 20px;
  background-color: #f4eeff;
}


.profile {
  position: relative;
  text-align: left; /* Align text to the left within the profile section */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  h1{
    text-align: center;
  }

}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.info-card {
  position: absolute;
  top: 0; /* Position at the top of the profile section */
  left: 200px; /* Distance from the left edge of the profile picture */
  transform: translateX(100%); /* Initially move out of view to the right */
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out; /* Smooth transition for animation */
  width: calc(100% - 150px); /* Adjust width to fit remaining space */
  min-width: 700px;
}

.profile:hover .info-card {
  transform: translateX(0); /* Slide in from right to left */
  opacity: 1;
  visibility: visible;
}

.profile:hover .profile-pic {
  transform: scale(1.1);
}

.social-links {
  margin-bottom: 10px;
}

.social-links a {
  text-decoration: none;
  color: #333;
  font-size: 24px;
  margin: 0 10px;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin: 20px;
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.card h2 {
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

.card .project-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card .btn {
  display: inline-block;
  background-color: #f4eeff;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.card .btn:hover {
  background-color: #b897f3;
}
